<h1 class = "m20">Currency Convertor</h1>
<div>
  <form class="m20">
    <mat-form-field class="m20" appearance="outline">
      <mat-label>
        Enter INR Amount
      </mat-label>
      <input type="number" matInput [(ngModel)]="amount" [ngModelOptions]="{standalone:true}">
    </mat-form-field>
    <mat-form-field class="m20" appearance="fill" >
      <mat-label>Currency</mat-label>
      <mat-select [(ngModel)]="type" [ngModelOptions]="{standalone: true}">
        <mat-option *ngFor="let currency of currencies" [value]="currency.value">
          {{currency.value}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button class="m20" mat-raised-button color="primary" type="submit" (click)="convert()">Submit</button>
  </form>
</div>
<app-convertor *ngIf="flag" [convertedResult]="finalRes"></app-convertor>
